@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply flex flex-col min-h-screen;
}

.img-card .img {
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-zoom {
  @apply overflow-hidden shadow-xl rounded-2xl hover:cursor-pointer;
}

.card-zoom-image {
  @apply transition-all duration-500 ease-in-out transform ;
}

.card-zoom:hover .card-zoom-image {
  @apply scale-125;
}

footer {
  @apply mt-auto;
}
